/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--base-color);
}
img {
    width: 100%;
    height: auto;
}
/* Variables */
:root {
    --header-height: 4.5rem;
    --base-color: hsl(38, 94%, 59%);
    --base-color-second: hsl(38, 22%, 83%);
    --base-color-alt: hsl(50, 100%, 50%);
    --title-color: #0e0f34;
    --text-color: hsl(0, 0%, 46%);
    --text-color-light: hsl(220, 13%, 91%);
    --body-color: hsl(0, 0%, 100%);
    --title-font-size: 1.5rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
    --font-size: 1rem;
}
/* Base */
html {
    scroll-behavior: smooth;
}
#disabled {
    display: none;
}
body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}
.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: subpixel-antialiased;
}
.button {
    background-color: var(--base-color);
    color: var(--title-color);
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    border-radius: 1.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.5s;
}
.button:hover {
    background: var(--base-color-alt);
}
.divider1 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(38, 94%, 59%),
        hsla(38, 67%, 81%, 0.34)
    );
}
.divider2 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(38, 67%, 81%, 0.34),
        hsla(38, 94%, 59%)
    );
}
/* Layout */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}
.grid {
    display: grid;
    gap: 2rem;
    justify-items: center
}
.section {
    padding: calc(3rem + var(--header-height)) 0;
}
.section-one {
    padding: calc(2rem + var(--header-height)) 0;
}
.section .title {
    margin-bottom: 1rem;
}
.section .subtitle {
    font-size: var(--subtitle-font-size);
}
.section header {
    margin-bottom: 4rem;
}
.section header strong {
    color: var(--base-color);
}
strong {
    color: var(--base-color);
}
/* Header */
#header {
    border-bottom: 1px solid var(--base-color);
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}
#header.scroll {
    background: var(--body-color);
}
#header.scroll .logo strong {
    font: var(--title-font);
    color: var(--base-color);
}
#header.scroll .icon-menu {
    color: var(--base-color);
}
/* Logo */
.logo {
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
}
.logo strong {
    color: var(--base-color);
}
.logo-alt strong {
    color: var(--body-color);
}
/*********Navigation***************/
nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav a img{
    height: 3.375rem;
    width: 3.375rem;
}
a.logo {
    display: flex;
    align-items: center;
}
a.logo text{
    padding-top: 0.7rem;
    margin-left: -0.625rem;
}
nav ul li {
    text-align: center;
}
nav ul li a {
    transition: color 0.2s;
    position: relative;
}
div.triangulo {
    border-bottom: 11.5rem solid transparent;
    border-left: 50dvw solid var(--base-color-alt);
    border-right: 50dvw solid var(--base-color-alt);
    height: 0;
    width: 100dvw;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
div.background{
    border-bottom: 14rem solid var(--body-color);
    height: 0;
    width: 100dvw;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: -1;
}
div ul a.logo {
    margin-top: 6rem;
    margin-right: 4rem;
}
nav .bi-person-circle{
    color: var(--title-color);
    position: absolute;
    top: 0.6875rem;
    left: 1.5rem;
    font-size: 3.125rem;
}
nav .perfil{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.475rem;
    left: 1.52rem;
    align-items: center;
}
nav .perfil .titles {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .perfil .title{
    background: var(--body-color);
    clip-path: circle();
    padding: 1rem;
}
nav .perfil .subtitle{
    margin-left: 0.5rem;
    font: 700 var(--subtitle-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: subpixel-antialiased;
}
nav ul li a:hover,
nav ul li a.active {
    color: var(--body-color);
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--body-color);
    position: absolute;
    left: 0;
    bottom: -0.3rem; /*-1.5rem*/
    transition: width 0.2s;
}
nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}
nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}
nav .menu ul {
    display: none;
}
/*Mostrar Menu*/
nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--base-color-alt);
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}
nav.show .menu ul {
    margin-top: -5.5rem;
    display: flex;
    flex-direction: column;
}
nav.show ul.grid {
    gap: 1rem;
}
/*toggle menu*/
.toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 0.5rem;
}
nav .bi-x {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    transition: 0.2s;
    color: var(--title-color);
}
nav.show div.bi-x {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    color: var(--title-color);
    z-index: 2;
}
/****************BAck to Top**********/
.back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: 0.8rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}
.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}
nav .perfil:hover{
    cursor: default;
    background: none;
    border-radius: 0;
}
.perfil-items{
    display: flex;
    flex-direction: column;
}
/* Responsive  Tablet */
@media screen and (min-width: 720px) {
    :root {
        --title-font-size: 1.5rem;
        --subtitle-font-size: 1rem;
    }
    div ul a.logo {
        margin-left: -1rem;
    }
}

@media screen and (max-height: 700px) {
    div.triangulo{
        border-bottom: 9.5rem solid transparent;
    }
    div.background{
        border-bottom: 12rem solid var(--body-color);
    }
    nav.show .menu ul {
        margin-top: -8rem;
    }
}
@media screen and (max-height: 500px) /* 550 */{
    div.triangulo{
        display: none;
    }
    div.background{
        display: none;
    }
    div ul a.logo {
        display: none;
    }
    nav.show .menu ul {
        margin-top: 0;
    }
}
/* Responsive PC */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    .section {
        padding: 10rem 0;
    }
    .section header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        height: 3.125rem;
    }
    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }
    nav .menu ul {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }
    nav .icon-menu {
        display: none;
    }
    #header.scroll {
        background: var(--body-color);
    }
    #header.scroll .logo strong {
        color: var(--base-color);
    }
    #header.scroll .icon-menu {
        color: var(--base-color);
    }
    div.triangulo{
        display: none;
    }
    div.background{
        display: none;
    }
    nav .bi-person-circle{
        display: none;
    }
    .toggle {
        display: none;
    }
    nav ul li a:hover,
    nav ul li a.active {
        color: var(--base-color);
    }
    nav ul li a::after {
        content: '';
        width: 0;
        height: 2px;
        background: var(--base-color);
        position: absolute;
        left: 0;
        bottom: -1.7rem; /*-1.5rem*/
        transition: width 0.2s;
    }
    nav .perfil{
        display: flex;
        position: relative;
        align-items: center;
        top: 0;
        left: 0;
        padding: 0.3rem;
    }
    .perfil-select{
        background: var(--text-color-light);
        border-radius: 0.5rem;
    }
    nav .perfil:hover{
        cursor: pointer;
        background: var(--text-color-light);
        border-radius: 0.5rem;
    }
    nav .separator{
        width: 2px;
        height: 3.5rem;
        border-radius: 1rem;
        background: linear-gradient(
            180deg,
            hsla(38, 94%, 59%),
            hsla(38, 94%, 59%)
        );
    }
    nav .perfil .title{
        background-color: var(--body-color);
        border:3px solid var(--base-color-alt);
        width: 3rem;
        height: 3rem;
        border-radius:100%;
        -moz-border-radius:100%;
        -webkit-border-radius:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav div.outline{
        font-size: 1.4rem;
    }
    nav .perfil .subtitle{
        margin-left: 0.5rem;
        font: 700 var(--subtitle-font-size) var(--title-font);
        color: var(--title-color);
        -webkit-font-smoothing: subpixel-antialiased;
    }
    nav .perfil-items ul li {
        width: 100%;
        height: 100%;
    }
    nav .perfil-items ul li a{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    nav .perfil-items ul li a:hover::after{
        width: 0;
    }
    nav .menu .perfil-items ul{
        gap: 1.5rem;
        padding: 1rem 0 1rem 0;
        flex-flow: column;
        width: 100%;
    }
    .perfil-items{
        margin-top: 3.75rem;
        border: 1px solid var(--text-color);
        border-radius: 0.5rem;
        background-color: var(--body-color);
        display: flex;
        position: absolute;
        top: 0;
        right: -0.5rem;
        left: -0.5rem;
    }
    .navbar{
        display: flex;
        flex-direction: row;
    }
    .nav-item{
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        color: rgba(55,65,81,1);
        background-color: rgba(243,244,246,1);
        border-radius: .25rem;
        overflow-y: hidden;
        align-items: center;
        width: 13.5rem;
        height: calc(100vh - 4.5rem);
    }
    .itens{
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .line{
        border-color: rgba(209,213,219, 1);
        border-top-width: 1px;
    }
    .separator-items{

        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: .5rem;
    }
    .display{
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        width: 100%;
        height: calc(100vh - 4.5rem);
        margin-top: 3.5rem;
        overflow: auto;
    }
    .selector {
        display: flex;
        padding-left: .75rem;
        padding-right: .75rem;
        border-radius: .5rem;
        align-items: center;
        width: 100%;
        height: 3rem;
        margin-top: .5rem;
        color: var(--title-color);
        text-decoration: none;
    }
    .selector:hover,
    .selector.active {
        background-color: rgba(209,213,219,1);
    }
    .selector-2{
        color: var(--title-color);
        margin-top: auto;
        display: flex;
        height: 4rem;
        width: 90%;
        align-items: center;
        justify-content: center;
        background-color: rgba(229,231,235, 1);
        border-radius: .5rem;
        margin-bottom: .5rem;
    }
    .selector-2:hover{
        background-color: rgba(209,213,219,1);
    }
    .backbox{
        background-color: var(--base-color-alt);
        border-radius: .5rem;
        width: 100%;
        height: 70%;
        position: absolute;
        transform: translate(0,-50%);
        top:50%;
        display: inline-flex;
    }
    .frontbox{
        background-color: var(--body-color);
        border: 3px solid var(--base-color);
        border-radius: .5rem;
        height: 100%;
        width: 50%;
        z-index: 10;
        position: absolute;
        right:0;
        margin-right: 3%;
        margin-left: 3%;
        transition: right .8s ease-in-out;
    }
    .loginMsg .title-alt,
    .signupMsg .title-alt{
        font-weight: 700;
        font-size: 1.5rem;
    }
    .loginMsg p,
    .signupMsg p {
        font-weight: 100;
    }
    .textcontent{
        color: var(--body-color);
        margin-top: 25%;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .loginMsg #switch1,
    .signupMsg #switch1 {
        border: 3px solid var(--body-color);
        border-radius: .7rem;
        width: fit-content;
        font-weight: 500;
        padding:.7rem;
    }

    /* front box content*/
    .login, .signup{
        padding: 20px;
        text-align: center;
    }

    .inputbox{
        margin-top:30px;
    }
    .login input,
    .signup input {
        display: block;
        width: 100%;
        height: 2.5rem;
        border: none;
        margin-bottom: 1rem;
        font: 500 .9rem var(--body-font);
        color: var(--text-color);
        border-bottom: 1px solid var(--text-color);
        box-sizing:  border-box;
        -webkit-appearance:  none;
    }
    .login button,
    .signup button{
        background-color: #35B729;
        border: none;
        color:white;
        font-size: 12px;
        font-weight: 300;
        box-sizing: content-box;
        padding:10px;
        border-radius: 10px;
        width: 60px;
        position: absolute;
        right:30px;
        bottom: 30px;
        cursor: pointer;
    }
    .container2{
        width: 50rem;
        height: 26.7rem;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: inline-flex;
    }
    .login input.checkbox{
        width: 1rem;
        height: 1rem;
        margin: 0 .7rem;
    }
    .rememberme {
        display: flex;
        align-items: center;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: none;
        -webkit-text-fill-color: var(--body-color);
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
    }
}
