/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--base-color);
}
img {
    width: 100%;
    height: auto;
}
/* Variables */
:root {
    --header-height: 4.5rem;
    --base-color: hsl(38, 94%, 59%);
    --base-color-second: hsl(38, 22%, 83%);
    --base-color-alt: hsl(50, 100%, 50%);
    --title-color: #0e0f34;
    --text-color: hsl(0, 0%, 46%);
    --text-color-light: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 100%);
    --title-font-size: 1.5rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
    --font-size: 1rem;
}
/* Base */
html {
    scroll-behavior: smooth;
}
#disabled {
    display: none;
}
body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}
.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: subpixel-antialiased;
}
.button {
    background-color: var(--base-color);
    color: var(--title-color);
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    border-radius: 1.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.5s;
}
.button:hover {
    background: var(--base-color-alt);
}
.divider1 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(38, 94%, 59%),
        hsla(38, 67%, 81%, 0.34)
    );
}
.divider2 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(38, 67%, 81%, 0.34),
        hsla(38, 94%, 59%)
    );
}
/* Layout */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}
.grid {
    display: grid;
    gap: 2rem;
    justify-items: center
}
.section {
    padding: calc(3rem + var(--header-height)) 0;
}
.section .title {
    margin-bottom: 1rem;
}
.section .subtitle {
    font-size: var(--subtitle-font-size);
}
.section header {
    margin-bottom: 4rem;
}
.section header strong {
    color: var(--base-color);
}
strong {
    color: var(--base-color);
}
/* Header */
#header {
    border-bottom: 1px solid var(--base-color);
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}
#header.scroll {
    background: var(--body-color);
}
#header.scroll .logo strong {
    font: var(--title-font);
    color: var(--base-color);
}
#header.scroll .icon-menu {
    color: var(--base-color);
}
/* Logo */
.logo {
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
}
.logo strong {
    color: var(--base-color);
}
.logo-alt strong {
    color: var(--body-color);
}
/*********Navigation***************/
nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav a img{
    height: 3.375rem;
    width: 3.375rem;
}
a.logo {
    display: flex;
    align-items: center;
}
a.logo text{
    padding-top: 0.7rem;
    margin-left: -0.625rem;
}
nav ul li {
    text-align: center;
}
nav ul li a {
    transition: color 0.2s;
    position: relative;
}
div.triangulo {
    border-bottom: 11.5rem solid transparent;
    border-left: 50dvw solid var(--base-color-alt);
    border-right: 50dvw solid var(--base-color-alt);
    height: 0;
    width: 100dvw;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
div.background{
    border-bottom: 14rem solid var(--body-color);
    height: 0;
    width: 100dvw;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: -1;
}
div ul a.logo {
    margin-top: 4rem;
    margin-right: 1rem;
}
nav .bi-person-circle{
    color: var(--title-color);
    position: absolute;
    top: 0.6875rem;
    left: 1.5rem;
    font-size: 3.125rem;
}
nav .perfil{
    display: flex;
    position: absolute;
    top: 0.475rem;
    left: 1.52rem;
    align-items: center;
}
nav .perfil .title{
    background: var(--body-color);
    clip-path: circle();
    padding: 1rem;
}
nav .perfil .subtitle{
    margin-left: 0.5rem;
    font: 700 var(--subtitle-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: subpixel-antialiased;
}
nav ul li a:hover,
nav ul li a.active {
    color: var(--body-color);
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--body-color);
    position: absolute;
    left: 0;
    bottom: -0.3rem; /*-1.5rem*/
    transition: width 0.2s;
}
nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}
nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}
nav .menu ul {
    display: none;
}
/*Mostrar Menu*/
nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--base-color-alt);
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}
nav.show .menu ul {
    margin-top: -5.5rem;
    display: flex;
    flex-direction: column;
}
nav.show ul.grid {
    gap: 1rem;
}
/*toggle menu*/
.toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 0.5rem;
}
nav .bi-x {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    transition: 0.2s;
    color: var(--title-color);
}
nav.show div.bi-x {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    color: var(--title-color);
    z-index: 2;
}
/****************BAck to Top**********/
.back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: 0.8rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}
.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

/* Responsive  Tablet */
@media screen and (min-width: 720px) {
    :root {
        --title-font-size: 1.5rem;
        --subtitle-font-size: 1rem;
    }
    div ul a.logo {
        margin-left: -1rem;
    }
}

@media screen and (max-height: 700px) {
    div.triangulo{
        border-bottom: 9.5rem solid transparent;
    }
    div.background{
        border-bottom: 12rem solid var(--body-color);
    }
    nav.show .menu ul {
        margin-top: -8rem;
    }
}
@media screen and (max-height: 500px) /* 550 */{
    div.triangulo{
        display: none;
    }
    div.background{
        display: none;
    }
    div ul a.logo {
        display: none;
    }
    nav.show .menu ul {
        margin-top: 0;
    }
}
/* Responsive PC */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    .section {
        padding: 10rem 0;
    }
    .section header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        height: 3.125rem;
    }
    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }
    nav .menu ul {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }
    nav .icon-menu {
        display: none;
    }
    #header.scroll {
        background: var(--body-color);
    }
    #header.scroll .logo strong {
        color: var(--base-color);
    }
    #header.scroll .icon-menu {
        color: var(--base-color);
    }
    div.triangulo{
        display: none;
    }
    div.background{
        display: none;
    }
    nav .bi-person-circle{
        display: none;
    }
    .toggle {
        display: none;
    }
    nav ul li a:hover,
    nav ul li a.active {
        color: var(--base-color);
    }
    nav ul li a::after {
        content: '';
        width: 0;
        height: 2px;
        background: var(--base-color);
        position: absolute;
        left: 0;
        bottom: -1.7rem; /*-1.5rem*/
        transition: width 0.2s;
    }
    nav .perfil{
        display: flex;
        position: relative;
        align-items: center;
        top: 0;
        left: 0;
    }
    nav .separator{
        width: 2px;
        height: 3.5rem;
        border-radius: 1rem;
        background: linear-gradient(
            180deg,
            hsla(38, 94%, 59%),
            hsla(38, 94%, 59%)
        );
    }
    nav .perfil .title{
        background-color: var(--body-color);
        border:3px solid var(--base-color-alt);
        width: 3rem;
        height: 3rem;
        border-radius:100%;
        -moz-border-radius:100%;
        -webkit-border-radius:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav div.outline{
        font-size: 1.4rem;
    }
    nav .perfil .subtitle{
        margin-left: 0.5rem;
        font: 700 var(--subtitle-font-size) var(--title-font);
        color: var(--title-color);
        -webkit-font-smoothing: subpixel-antialiased;
    }
}
